SUPABASE_URL=https://dkcohwyxtbdlpvhzuqry.supabase.co
SUPABASE_KEY=
SUPABASE_SECRET_KEY=
NUXT_ANTHROPIC_API_KEY=
NUXT_EMBEDDING_API_KEY=pa-
NUXT_PUBLIC_MEILISEARCH_HOST=https://ms-6f536ba9a99a-41659.fra.meilisearch.io
NUXT_MEILISEARCH_API_KEY=
NUXT_PUBLIC_APP_URL=http://localhost:3000
NOVU_API_KEY=
NUXT_EMAIL_WEBHOOK_SECRET=
NUXT_GOOGLE_CLIENT_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_UNSTRUCTURED_API_KEY=
NUXT_UNSTRUCTURED_API_URL=https://api.unstructuredapp.io/general/v0/general
